html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.progress-ring__circle {
  position: absolute;
  transform-origin: center;
  cx: 60;
  cy: 60;
  fill: transparent;
  stroke-width: 10;
}

.progress-ring__circleBack {
  stroke: #e6e4d9;
}

.progress-ring__circleFront {
  position: absolute;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke: #ce5d97;
}

.toggles .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.toggles {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
input {
  border-radius: 20px;
  text-align: center;
  appearance: none;
}

.button {
  background-color: #e6e4d9;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.button::before {
  position: absolute;
  content: "";
  background-color: #fff;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
}

input:checked + .button {
  background-color: #ce5d97;
}

input:checked + .button::before {
  transform: translateX(20px);
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}
@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

@keyframes spin {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
