* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.progress-ring__circle {
  position: absolute;
  transform-origin: center;
  cx: 60;
  cy: 60;
  r: 52;
  fill: transparent;
  stroke-width: 5;
}

.progress-ring__circleFront {
  position: absolute;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.5s ease-in-out;
}

@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

@keyframes spin {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
